<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <ComponentSettings>
    <!--The account ID you want to send your data to-->
    <AccountId>a71a7b3c-fff4-4de0-9a1c-cc44c8f70491</AccountId>
    <!--The instrumentation key used for Microsoft Monitoring Agent-->
    <LicenseKey>EP+fzLaeowXwox8pDiYd14y+I9jd0TZObMQHsRbz+T7Z8sXu0sESE90/OYK89Yvkrar+rbfggUyZ6Rjb3VBOoA==</LicenseKey>
    <ComponentName>Yammer Now</ComponentName>
    <!-- Replace ComponentId with the application key you got from the Application Insights service. -->
    <ComponentId>2deb8b8e-0445-420b-ad47-a4e416864a51</ComponentId>
    <!-- Enable for developer mode -->
    <DevelopmentMode>
      <!-- The analytics SDKs will use this Component Id when debugging -->
      <ComponentId>2deb8b8e-0445-420b-ad47-a4e416864a51</ComponentId>
      <PortalURI>https://mleroy.visualstudio.com/</PortalURI>
      <DashboardId>74e98dc2-1929-421c-bc17-10513026b83b</DashboardId>
    </DevelopmentMode>
  </ComponentSettings>
</ApplicationInsights>